#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body.light {
  color: white;
  background-color: black;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body.dark{
  color: black;
  background-color: white;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.button{
  border-radius: 8px;
  padding: 0.2em .5em;
  font-size: 1em;
  font-weight: 550;
  border-color:#000;
  background-color:	#B2BEB5;
  color:black;
  cursor: pointer;
  margin:3px;
  transition: border-color 0.25s;
}


.container{
  border:solid 2px blue;
  padding:10px;
}