.active{
    background-color:#ddd;
}
.Home{
    background-color:red;
    color:white;
}
.Profile{
    background-color:purple;
    color:white;
}
.Login{
    background-color:blue;
    color:white;
}